@import url(http://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&subset=latin,latin-ext);

@font-face {
    font-family: '04b03regular';
    src: url('04b_03__-webfont.eot');
    src: url('04b_03__-webfont.eot?#iefix') format('embedded-opentype'),
         url('04b_03__-webfont.woff') format('woff'),
         url('04b_03__-webfont.ttf') format('truetype'),
         url('04b_03__-webfont.svg#04b03regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{
	height: 100%;
}

body
{
	background:	url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQIW2NkYGD4D8SMQAwGcAbxAgBA6gEFaY6rgAAAAABJRU5ErkJggg==) repeat;
	background-color: #1C1C1C;
	
	/*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
	font-family: Lato;
	color: #ECECEC;
	height: 100%;
	
	margin: 0;
}

body p
{
	font-size: 0.8em;
	text-align: justify;
}

#wrapper
{	 
	background-color: #202020;
	
	border-left: 4px solid #44BBFF;
	border-right: 4px solid #44BBFF;
	
    width: 640px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	margin: 0 auto -1px;
	
	overflow: hidden;
}

#game
{
	background-color: #E0E0D0;
	width: 640px;
	height: 480px;
}

#text
{
	padding: 8px 32px 8px 32px;
}

#text h1
{
	position: relative;
	font-family: '04b03regular', sans-serif;
}

a:link {color: #44BBFF;}
a:hover {color: white;}
a:visited {color: #2299DD;}

#text hr
{
	border: 0;
	background-color: #44BBFF;
	height: 2px;
	width: 64px;
	margin-top: -1em;
	float: left;
}

#footer, #push
{
	height: 2em;
}

hr.stop
{
	border: 0;
	background-color: #313131;
	margin: 0 auto;
	width: 15%;
	height: 2px;
}

#header
{
	padding-top: 0;
	height: 2em;
}

#header p
{
	text-align: center;
}

/*
#wrapper:before
{
	content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: 0;
    border-left: 8px solid #44BBFF;
    border-right: 8px solid #44BBFF;
    z-index: -1;
}*/